<table class="table table-striped">

    <thead class="table-header">
        <tr>
            <th>Id</th>
            <th>Drug Name</th>
            <th>Stock</th>
        </tr>
    </thead>
  <tbody>
    <tr>

        <td>{{medicine.id}}</td>
        <td>{{medicine.drugName}}</td>

        <td>{{medicine.stock}}</td>


    </tr>
  </tbody>

</table>

<!-- <div class="container" >

    <label>ID : <b>{{medicine.id}}</b></label><br>

    <label>Name : <b>{{medicine.drugName}}</b></label><br>


    <label>Age : <b>{{medicine.stock}}</b></label><br>


    
    
</div> -->